<!DOCTYPE html>
<html>
  <head>
    <title>Kelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Kelp" />
    <meta property='og:image' content="<%= image_url('review.png') %>"/>
    <meta property="og:description"
      content="A clone of Yelp"
    />
    <meta property="og:url"
      content="https://kelp-alex.herokuapp.com/"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74b02c8ee3.js" crossorigin="anonymous"></script>

    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
